* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
/* NavLink CSS */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
  background: #fcfcfc;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline;
  padding: 0 20px;
}
nav ul li a {
  text-decoration: none;
  font-size: 20px;
}
nav ul li a:hover {
  color: red;
}
nav ul li a.active {
  font-weight: 600;
  color: red;
}
